{% extends "base.html" %}
{% load django_markdown %}

{% block content %}
<div class="row">
	<h1 class="text-center">Blog Posts</h1>
</div>
{% for object in object_list %}
  <div class="blog-post">
    <h2 class="text-center"><a href="{% url "entry_detail" slug=object.slug %}">{{ object.title }}</a></h2>
    <p class="meta"> {{ object.created }} |
    Tagged under {{  object.tags.all|join:", " }}
    </p>
    {{ object.body|markdown }}
  </div>
{% endfor %}

{# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links text-center">
                {% if page_obj.has_previous %}
                    <a href="/thoughts?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/thoughts?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
