@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);


body {
  padding-bottom: 20px;
  background-color: #eeeeee;
  background-image: url("../images/background.gif");
  background-repeat: repeat;
  color: #555555;
}

footer {
	text-align: center;
}
h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 72px;
}
h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 37px;
}
h3 {
    font-family: 'Fjalla One', sans-serif;
}
h4 {
    font-family: 'Fjalla One', sans-serif;
}
h5 {
    font-family: 'Fjalla One', sans-serif;
}
h6 {
    font-family: 'Fjalla One', sans-serif;
}



/* vvvvvvvv  HOMEPAGE  vvvvvvvv */
.homepage-header h1 {
	text-align: center;
	font-size: 72px;
	font-family: 'Fjalla One', sans-serif;
	color: #3a3a3a;
	margin-top: 245px;
	margin-bottom: 400px;
}
.homepage-header h1 .mini-text {
	font-size: 18px;
}
.homepage-adder {
    position: absolute;
    height: 100%;
    width: inherit;
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
.homepage-adder img{
    position: absolute;
    display:block;
    top: 25px;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    z-index: -10;
}
#gates {
   clip: rect(0px, 500px, 0px, 0px); 
}
.addr-input {
    position: absolute;
    display:block;
    top: 25px;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    margin-top: -10px;
}
#addr-carry {
    left: -95px;
    top: 5px;
    width: 20px;
}
#addr-B {
    left: 25px;
    top: 5px;
    width: 20px;
}
#addr-A {
    left: 145px;
    top: 5px;
    width: 20px;
}
.addr-output {
    position: absolute;
    display:block;
    top: 25px;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
    top: 2110px;
}
#addr-S {
    left: 120px;
    width: 20px;
}
#addr-Cout {
    left: -95px;
    width: 20px;
}
/* ^^^^^^^^  HOMEPAGE  ^^^^^^^^ */

/* vvvvvvvv  STATIC HEADER  vvvvvvvv */
#grey-header {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 400px;
    z-index: -10;
    border-style: none;
    background-image: url("../images/header-background.png");
    background-repeat: repeat-x;
}
#binary-words {
    text-align: right;
    /*position: absolute;*/
    /*right: 180px;*/
    /*top: 5px;*/
    padding-right: 80px;
    margin-top: -20px;
    font-size: 150px;
    color: #bbbbbb;
    /*font-family: 'Fjalla One', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}
.static-header{
    padding-top: 20px;
    height: 230px;
    background: url('../images/keyboard.png') right top no-repeat;
}
.static-header-list{
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
.static-header-list li {
    margin: -10px;
    border-style: none;
}
.static-header-list .nav-binary {
    font-size: 20px;
}
.static-header .static-header-list > .active > a, 
.static-header .static-header-list > .active > a:hover, 
.static-header .static-header-list > .active > a:focus {
    color: #3a3a3a;
}
.static-header-list a {
    color: #666666;
}
.static-header-list a:hover, 
.static-header-list a:focus {
    color: #3a3a3a;
    text-decoration: none;
}
/* ^^^^^^^^  STATIC HEADER  ^^^^^^^^ */


/* vvvvvvvv  NAV BAR CSS  vvvvvvvv */
.navbar {
  margin-bottom: 30px;
  display:none;
}
.navbar-brand {
    padding-top: 0px;
    padding-left: 80px;
    padding-right:50px;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: #d7d7d7;
    height: 50px;

}
.child {
    border-right-style: solid;
    border-right-width: 1px;
    border-color: #d7d7d7;
}
.nav-binary {
    font-size: 14px;
}

/* Twitter Bootstrap Nav Customizations */
/* navbar */
.navbar-default {
    background-color: #eeeeee;
    border-color: #d7d7d7;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #888888;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #3a3a3a;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}
/* ^^^^^^^^  NAV BAR CSS  ^^^^^^^^ */