Django==1.7.4
django-classy-tags==0.6.1
django-cms==3.0.9
django-markdown==0.8.4
django-mptt==0.6.1
django-sekizai==0.8.1
djangocms-admin-style==0.2.5
html5lib==0.999
Markdown==2.5.2
six==1.9.0
South==1.0.2