{% extends 'base.html' %}
{% load cms_tags static %}

{% block breadcrumb %}{% endblock %}

{% block content %}

{% placeholder title %}

<img src="{% static "images/me.png" %}" class="img-responsive" style="margin: 0 auto;" alt="Responsive image">
<br>
<br>
<br>
{% placeholder content1 %}

<img src="{% static "images/making_is_fun.png" %}" class="img-responsive" style="margin: 0 auto;" alt="Responsive image">

<br>
<br>
<br>
{% placeholder content2 %}

<img src="{% static "images/on_the_computer.png" %}" class="img-responsive" style="margin: 0 auto;" alt="Responsive image">

<br>
<br>
<br>
{% placeholder content3 %}

<img src="{% static "images/on_the_mic.png" %}" class="img-responsive" style="margin: 0 auto;" alt="Responsive image">

<br>
<br>
<br>

{% placeholder content4 %}
<br>
<img src="{% static "images/smile.png" %}" class="img-responsive" style="margin: 0 auto;" alt="Responsive image">

<br>
<br>
<br>
{% placeholder content5 %}

{% endblock %}