{% extends 'base.html' %}
{% load cms_tags static sekizai_tags %}

{% addtoblock "js" %}
<script src="{% static "js/homepage.js" %}"></script>
{% endaddtoblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}
<div class="homepage-adder">
<span class="addr-input-area">
<span class="addr-input" id="addr-carry">0</span>
<span class="addr-input" id="addr-B">1</span>
<span class="addr-input" id="addr-A">0</span>
<span class="addr-output" id="addr-S">1</span>
<span class="addr-output" id="addr-Cout">0</span>
</span>
<img src="{% static "images/logic_gates_grey.png" %}" class="logic-gates" alt="Responsive image" align="middle">
<img src="{% static "images/logic_gates_blue.png" %}" id="gates" class="logic-gates" alt="Responsive image" align="middle">
</div>
<div class="homepage-header">
  {% placeholder content1 %}
</div>

<div class="homepage-header">
  {% placeholder content2 %}
</div>

<div class="homepage-header">
  {% placeholder content3 %}
</div>
<br>
<div class="homepage-header">
  {% placeholder content4 %}
</div>
<script src="{% static "js/homepage.js" %}"></script>

{% endblock %}

